*{
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    padding-top: 44px;
}
.container {
    max-width: 1200px;
    margin: auto;
    
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin-bottom: 40px;
}
.input {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    padding:8px;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: left 11px center;
    outline: none;
}
.input-adress {
    flex:0.8;
    background-image: url(../img/home.svg);
}
.input-search {
    background-image: url(../img/search.svg);
    width: 300px;
    margin-left: auto;
}
.buttons {
    display: flex;
    align-items: center;
    vertical-align: middle;
}
.button {
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
    color: #595959;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    outline: none;
    cursor: pointer; 
    vertical-align: middle;
    align-items: center;
}
/* наследуется от button! */
.button-primary {
    background: #1890FF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    color: #FFFFFF;
    margin-right: 10px;
    align-items: center;

}
.button-icon {
    padding-right: 6px;
    vertical-align: middle;
}
.button-text
{
    vertical-align: middle;

}
.button-card-text {
    margin-right: 10px;

}
.promo {
    box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
    background: #FFF1B8 url(../img/promo-image.png) no-repeat top -100px right -100px / 700px;
    border-radius: 10px;
    padding: 68px 70px;
    margin-bottom: 56px;
}
.promo-title {
    font-size: 39px;
    line-height: 46px;
    color: #302C34;
}
.promo-text {
    font-size: 24px;
    line-height: 28px;
    max-width: 530px;
    color: #302C34;
}
.section-heading {
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 44px;
    flex-wrap: wrap;
    align-items: center;
}
.section-title {
    font-size: 39px;
    line-height: 46px;
    margin: 0;
    color: #302C34;
    margin-right: 30px;
}
.cards {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    border-radius: 7px;
    margin-bottom: 30px;
    flex-basis: 32%;
    text-decoration: none;
    color: #000000;
}
.card-image {
    width: 384px;
    height: 250px;
    object-fit: cover;
}
.card-text {
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 23px;
    padding-right: 23px;
}
.card-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-title {
    font-size: 24px;
    line-height: 32px;
}
.card-title-reg{
    font-weight: 400;
}
.card-tag {
    color: #FFFFFF;
    background: #262626;
    border-radius: 2px;
    font-size: 12px;
    line-height: 20px;
    padding: 1px 8px;
}
.card-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.rating{
    color: #FFC107;
    margin-right: 36px;
}
.card .rating {
    
    font-size: 18px;
    line-height: 32px;
    font-weight: bold;
}
.price, .category {
    font-size: 18px;
    line-height: 32px;
    color: #8C8C8C;
}
.price {
    margin-right: 10px;
    
}
.category {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.price:after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #8C8C8C;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    border-radius: 50%;
}
.ingredients {
    color: #8C8C8C;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 25px;
}
.card-price-bold
{
    font-size: 20px;
    line-height: 32px;
    margin-left: 32px;
}
.card-buttons {
    display:flex;
    align-items: center;
    margin-top: 24px;
}
.main {
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}
.footer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0px;

}
.footer-link {
    display:inline-block;
    text-decoration: none;
    color: #595959;
    font-size: 18px;
    line-height: 21px;
}
.footer-nav {
    margin-right: auto;
    margin-left: 35px;
}
.footer-link:not(:last-child)
{
    margin-right: 15px;
}
.social-links {
    display: flex;
    align-items: center;

}
.social-link:not(:last-child) {
    margin-right: 21px;
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
}
.is-open{
    display: flex;
}
.modal-dialog {
    max-width: 780px;
    width: 95%;
    background-color: #fff;
    border-radius: 5px;
    margin: auto;
    padding: 40px 45px;
}
.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}
.modal-title {
    margin:0;
    font-size: 36px;
    line-height: 42px;
}
.close {
    font-size: 36px;
    border:none;
    background-color: transparent;
}
.modal-body {
    margin-bottom: 52px;
}
.food-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: solid 1px #D9D9D9;
    margin-bottom: 15px;
}
.food-name {
    font-size: 18px;
line-height: 32px;
}
.food-price {
    margin-left: auto;
    margin-right: 47px;
    font-weight: bold;
    font-size: 20px;
line-height: 32px;
}
.food-counter {
    display: flex;
    align-items: center;
}
.counter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #40A9FF;
    width: 40px;
    height: 32px;
    box-sizing: border-box;
    border-radius: 2px;
    outline: none;
    color: #40A9FF;
    font-size: 14px;
    line-height: 22px;
}
.counter {
    font-size: 16px;
    line-height: 24px;
    margin-left: 13px;
    margin-right: 13px;
}
.modal-footer {
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.footer-buttons{
    display: flex;
    align-items: center;
}
.modal-pricetag {
    background: #262626;
    font-size: 20px;
    line-height: 23px;
    color: #FAFAFA;
    padding: 15px 20px;
    border-radius: 5px;
}

/* адаптив */

@media (max-width:1366px)
{
    .container {
        max-width: 960px;
    }
    .promo {
        background-size: 485px;
        background-position: center right -200px;
    }
    .rating {
        margin-right: 15px;
    }    
}
@media (max-width:992px)
{
    .container {
        max-width: 750px;
    }
    .promo {
        padding: 50px;
        background-size: 400px;
        background-position: center right -200px;
    }
    .promo-text {
        font-size: 18px;
        max-width: 400px;
    }
    .card {
        flex-basis: 49%;
    }
    .footer-link {
        font-size: 16px;
    }
}
@media (max-width:768px)
{
    .container {
        max-width: 560px;
    }
    .card-info{
        flex-wrap: wrap;
    }
    .rating {
        flex-basis: 100%;
    }
    .card-title {
        font-size: 18px;
    }
    .promo-title {
        font-size: 24px;
        line-height: 1.4;
    }
    .promo {
        background-position: center right -275px;
    }
    .promo-text {
        margin-top: 0;
    }
}

@media (max-width:578px)
{
    .container {
        max-width: 90%;
    }
    .header {
        flex-wrap: wrap;
    }
    .input-adress {
        margin-top: 15px;
        order: 5;
        flex:1;
    }
    .promo{
        background-image: none;
    }
    .promo-title {
        margin-bottom: 10px;
    }
    .section-title {
        font-size: 20px;
    }
    .card {
        flex-basis: 100%;
    }
    .card-image {
        width: 100%;
    }
    .footer-nav
    {
        order: 0;
        margin-left: 0;
        max-width: 30%;
        margin-right: 0;
    }
    .footer-logo {
        order: 1;
    }
    .social-list {
        order: 2;
        justify-self: start;
    }
    .footer {
        padding: 30px;
    }
    .footer-block {
        align-items: flex-start;
        justify-content: space-between;
    }
}
@media (max-width:480px){
    .footer-block {
        flex-wrap: wrap;
    }
    .footer-logo{
        order:0;
        margin-bottom: 20px;
    }
    .footer-block{
        flex-direction: column;
    }
    .footer-nav{
        margin-bottom: 20px;
    }
    .button-text{
        display: none;
    }
    .button {
        min-height: 40px;
    }
    .button-icon {
        margin: 0;
    }
}